

body {
	height: 1500px;
	background-color: white;
	
}

#wrapper{
	
}

header {
	font-family: 'Pacifico', cursive;
	color: rgb(25, 85, 127);
	
}

h1 {
	font-size: 150px;
	text-align: center;
}



.p_header {
	font-size: 50px;
	text-align: center;
}
#images {
}

#white_space {
	width: 100%;
	padding-bottom: 2%;
	color: rgb(25, 85, 127);
	font-family: 'Pacifico', cursive;
	font-size: 150px;
	text-align: center;
	text-shadow: 1px 0 black;

}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	font-family: 'Pacifico', cursive;
	color: rgb(25, 85, 127);
	
	
}
.left {
	float: left;
	font-size:30px;

}
.right {
	float: right;
	font-size:30px;
}


.windy_road {
	background: url(../images/windy_road.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 56.25%;
	width: 100%;
}

.car_one {
	background: url(../images/1969-ford-mustang-boss-wallpapers-background-1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 31.1325546%;
	width: 100%;	
}

.car_two {
	background: url(../images/Black_camaro.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 37.08%;
	width: 100%;
	
	
}
.car_three {
	background: url(../images/light_blue_69_mustang_gt.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 36.17%;
	width: 100%;
	
}


.three_testimonals:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	height: 0;
	font-family: 'Pacifico', cursive;
	color: rgb(25, 85, 127);	
}

.article_left {
	float: left;
	font-size:30px;
}

.article_center {
	float: center;
	font-size:30px;
}

.article_right {
	float: right;
	font-size:30px;
}

.company_history {
	color: white ;
	font-size: 15px;
	font-weight: 100;
	font-variant: small-caps;
	font-family: 'Nanum Gothic', sans-serif;
}


footer{
	background-color: red;
    border: 1px black solid;
    padding: 10px;
    vertical-align:bottom;
    text-align: center;
  	
}