

body {
	height: 1500px;
	background-color: white;
	
}

#wrapper{
	
}

header {
	font-family: 'Pacifico', cursive;
	color: rgb(25, 85, 127);
	
}

h1 {
	font-size: 150px;
	text-align: center;
}



.p_header {
	font-size: 50px;
	text-align: center;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
		
}

.left {
	float: left;
	font-size:30px;
	font-family: 'Pacifico', cursive;
	color: rgb(25, 85, 127);

}
.right {
	float: right;
	font-size:30px;
	font-family: 'Pacifico', cursive;
	color: rgb(25, 85, 127);
}

#article_one{}




.windy_road {
	background: url(../images/windy_road.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 41.48%;
	width: 100%;
}

.make{
	display:block;
    padding: 10px;   
    margin-left: auto;
    margin-right: auto;
    width:10%;
    border: 3px solid black;
   
}
.model{
	display:block;
    padding: 10px;   
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:10%;
    border: 3px solid black;
}
.year{
	display:block;
	float:;
    padding: 10px;   
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:10%;
    border: 3px solid black;
}
#article_two {
	width: 100%;
	padding-bottom: 1%;
	color: rgb(25, 85, 127);
	font-family: 'Pacifico', cursive;
	font-size: 150px;
	text-align: center;

}

#article_three {
}

.car_one {
	background: url(../images/1969-ford-mustang-boss-wallpapers-background-1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 31.1325546%;
	width: 100%;	
}

.car_two {
	background: url(../images/Black_camaro.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 37.08%;
	width: 100%;	
}

.car_three {
	background: url(../images/light_blue_69_mustang_gt.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 36.17%;
	width: 100%;
	
}

#article_four:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.aside_one:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;

}

.name_one {
	float: left;
	font-family: 'Pacifico', cursive;
	color: rgb(25, 85, 127);
	font-size: 25px;
	width: 45%;
	text-align: center;
}

.name_two {
	float: right;
	font-family: 'Pacifico', cursive;
	color: rgb(25, 85, 127);
	font-size: 25px;
	width: 45%;
	text-align: center;
}

.aside_two {
	margin: auto;
    width: 65%;
    border: 3px solid green;
    clear: both;

  
}

.headshot_one {
	background: url(../images/david_o.jpg);
	height: 149px;
	width: 140px;
    float: left;
}


.headshot_two {
	background: url(../images/janis_d.jpg);
	height: 148px;
	width: 150px;
 	float: right;
    
}
#article_five:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;

}

.testimonal_one {
	float: left;
	font-family: 'Pacifico', cursive;
	color: rgb(25, 85, 127);
	font-size: 18px;
	width: 45%;
	text-align: center;
}


.testimonal_two {
	float: right;
	font-family: 'Pacifico', cursive;
	color: rgb(25, 85, 127);
	font-size: 18px;
	width: 45%;
	text-align: center;
    
}

footer{
	background-color: rgb(25, 85, 127);
	height: 150px;
	width: 100%;
	font-family: 'Pacifico', cursive;
	color: white;
	font-size: 20px;
	text-align: center;
}
